---
---

<div class="fixed top-0 left-0 right-0 z-50 h-[3px] pointer-events-none">
  <div
    id="reading-progress-bar"
    class="h-full bg-[var(--color-terracotta)] transition-[width] duration-75 ease-out"
    style="width: 0%"
  />
</div>

<script src="../scripts/reading-progress.ts"></script>
